        html,
        body,
        .grid-container {
            height: 10%;
            margin: 0%;
        }
        .footer {
            height: 50%;
            width: 100%;
        }
        .button {
            background-color: black;
            color: #ffffff;
            height: 33px;
            width: 14%;
            font-size: 20px;
        }
     
        .center {
            text-align: center;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #ffffff;
        }
        .header {
            grid-area: header;
            background-color: #ffffff;
            padding: 30px;
            text-align: center;
            font-size: 35px;
        }
        
        .size {
            padding: 1px;
            height: 40%;
            width: 32%;
        }
        .footer {
            grid-area: footer;
            background-color: #ffffff;
            padding: 10px;
            text-align: center;
        }
        